.u-section-1 {
  background-image: linear-gradient(89deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1)), linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/aboutusbackground1.jpg');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: cover, cover, cover;
  background-position: 50% 50%, 50% 50%, 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 425px;
}

.u-section-1 .u-custom-html-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 350px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 268px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 201px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 127px;
  }
}

/* "Working at Qalam" Section */
.u-section-2 .u-sheet-1 {
  min-height: 300px;
}

.u-section-2 .u-custom-html-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* "Employee Benefits" Section */
.u-section-3 .u-sheet-1 {
  /* Increased height to account for the new title */
  min-height: 600px;
}

.u-section-3 .u-custom-html-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* "CTA" Section */
.u-section-4 .u-sheet-1 {
  min-height: 400px;
}

.u-section-4 .u-custom-html-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}